
.icon-user:before { content: '\e800'; } /* '' */
.icon-info:before { content: '\e801'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */